[Unit]
Description=InkyPi App
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=root
RuntimeDirectory=inkypi
WorkingDirectory=/run/inkypi
ExecStart=/usr/local/bin/inkypi run
Restart=on-failure
RestartSec=60
WatchdogSec=120
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal
CPUQuota=40%
MemoryHigh=250M
MemoryMax=350M

[Install]
WantedBy=multi-user.target